body, html {
    height: 100%;
    margin: 0;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    background: #f9f9f9;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.header {
    text-align: center;
    color: #509288;
    font-size: 32px;
    font-weight: 700;
}

.inputs {
    width: 100%;
    margin-top: 20px;
}

.input {
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    background: #eaeaea;
    border-radius: 6px;
    padding: 10px;
}

.input img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.input input {
    width: 100%;
    border: none;
    background: transparent;
    outline: none;
    font-size: 16px;
    color: #333;
}

.otp-text {
    width: 100%;
    margin-top: 20px;
    text-align: center;
}

.submit-container {
    width: 100%;
    margin-top: 30px;
    text-align: center;
}

.submit {
    padding: 12px 0;
    color: white;
    background: #509288;
    border-radius: 25px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
}

.submit:hover {
    background: #509288;
}

.midvp{
    height: 16px;
    align-self: stretch;
    color: #0D9488;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 200% */
    letter-spacing: 0.25px;
    cursor: pointer;
    margin-top: 15px;
}