.header {
    display: flex;
    width: 1250px;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-left: 150px;
}

.header .text {
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: 24px; /* 100% */
    background: linear-gradient(91deg, #0D9488 11.83%, rgba(13, 148, 136, 0.60) 95.42%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header .text>span {
    background: linear-gradient(91deg, #509288 11.83%, rgba(13, 148, 136, 0.60) 95.42%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: 24px;
}

.left {
    display: flex;
    padding: 0px 0px 0px 151.98px;
    justify-content: flex-end;
    align-items: center;
}

.signup {
    display: flex;
    width: 135px;
    padding: 9px 32px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: #0D9488;
    cursor: pointer;
    border-color: transparent;
}

.signup>span {
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    color: #FFFFFF;
}

.login {
    display: flex;
    width: 100px;
    height: 17px;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    line-height: 20px; /* 142.857% */
    background: transparent;
    border-color: transparent;
    cursor: pointer;
}

.hero-container {
    display: flex;
    width: 1500px;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.hero-badge {
    display: flex;
    width: 459px;
    padding: 3px 13px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border-radius: 9999px;
    background: linear-gradient(180deg, rgba(13, 148, 136, 0.00) 0%, rgba(13, 148, 136, 0.00) 100%);
    box-shadow: 0px 0px 0px 2px rgba(17, 24, 39, 0.10);
    margin-left: 15rem;
}

.b1 {
    display: flex;
    align-items: center;
    gap: 15px;
    align-self: stretch;
}

.b1>img {
    width: 25px;
    height: 25px;
}

.hero-badge-text {
    color: #4B5563;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 142.857% */
}

.content-hero {
    display: flex;
    width: 1000px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.hero-description {
    color: #4B5563;
    text-align: center;
    font-family: Inter;
    font-size: 22.4px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px; /* 142.857% */
    letter-spacing: 0.56px;
    width: 50rem;
    margin-left: 95px;
}

.testi {
    display: flex;
    align-items: center;
    gap: 10px;
}

.cta {
    display: flex;
    width: 397.948px;
    justify-content: space-between;
    align-items: center;
    border-color: transparent;
}

.cta-sbtn {
    display: flex;
    padding: 16px 35px;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: #0D9488;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    border-color: transparent;
}

.cta-sbtn>span {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
}

.cta-adbtn {
    display: flex;
    padding: 17px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    border: 1px solid #E5E7EB;
    background: rgba(255, 255, 255, 0.00);
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
    cursor: pointer;

}

.cta-adbtn>span {
    color: #27272A;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
}

.testi .flex>img{
    margin-left: -18px;
}